services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sonnda-api
    restart: always
    ports:
    - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env.docker
    environment:
      - DB_HOST=db
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
volumes:
  postgres-data:
